<!DOCTYPE html>
<!--
  新規社員を登録するための入力画面。
  入力した内容は次の確認画面に送られます。
-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>社員情報登録</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">社員情報登録</h1>
        <p>登録する社員の情報を入力してください。</p>
        <!-- 入力内容を確認画面へ送信 -->
        <form th:action="@{/inputConfirm}" th:object="${employeeForm}" method="post" class="mt-3">
            <table class="table">
                <tr>
                    <td>氏</td>
                    <td><input type="text" th:field="*{lname}" class="form-control" /></td>
                    <td><div th:errors="*{lname}" class="text-danger"></div></td>
                </tr>
                <tr>
                    <td>名</td>
                    <td><input type="text" th:field="*{fname}" class="form-control" /></td>
                    <td><div th:errors="*{fname}" class="text-danger"></div></td>
                </tr>
                <tr>
                    <td>氏（カナ）</td>
                    <td><input type="text" th:field="*{lkana}" class="form-control" /></td>
                    <td><div th:errors="*{lkana}" class="text-danger"></div></td>
                </tr>
                <tr>
                    <td>名（カナ）</td>
                    <td><input type="text" th:field="*{fkana}" class="form-control" /></td>
                    <td><div th:errors="*{fkana}" class="text-danger"></div></td>
                </tr>
                 <tr>
                    <td>性別</td>
                    <td>
                        <div class="form-check form-check-inline">
                            <!-- 男性を選択 -->
                            <input class="form-check-input" type="radio" th:field="*{gender}" id="genderMale" value="1" />
                            <label class="form-check-label" for="genderMale">男性</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <!-- 女性を選択 -->
                            <input class="form-check-input" type="radio" th:field="*{gender}" id="genderFemale" value="2" />
                            <label class="form-check-label" for="genderFemale">女性</label>
                        </div>
                    </td>
                    <td><div th:errors="*{gender}" class="text-danger"></div></td>
                </tr>
                <tr>
                    <td>部署名</td>
                    <td>
                        <!-- 部署をプルダウンで選択 -->
                        <select th:field="*{deptno}" class="form-control">
                            <option value="" disabled selected>選択してください</option>
                            <!-- 部署一覧を動的に表示 -->
                            <option th:each="dept : ${departments}"
                                    th:value="${dept.deptno}"
                                    th:text="${dept.deptname}">
                            </option>
                        </select>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>パスワード</td>
                    <td><input type="password" th:field="*{password}" class="form-control" /></td>
                    <td><div th:errors="*{password}" class="text-danger"></div></td>
                </tr>
            </table>
            <div class="form-group row">
                <div class="col-sm-10 offset-sm-2">
                    <button type="submit" class="btn btn-primary">登録</button>
                    <button type="button" class="btn btn-secondary" onclick="location.href='/'">トップページに戻る</button>
                </div>
            </div>
        </form>
    </div>
</body>
</html>
