<!-- change_confirm.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>変更内容確認 - EIMS</title>
</head>
<body>
    <nav>
        <div>
            <a th:href="@{/}">EIMS</a>
        </div>
    </nav>
    <div>
        <div>
            <div>
                <h2>変更内容の確認</h2>
                <div>社員情報を以下の内容で更新します。よろしいですか？</div>
                
                <div>
                    <div>
                        <table>
                            <colgroup>
                                <col style="width: 30%; background-color: #f8f9fa;">
                                <col style="width: 70%;">
                            </colgroup>
                            <tr><th>社員番号</th><td th:text="${employeeForm.empno}"></td></tr>
                            <tr><th>氏名</th><td th:text="${employeeForm.lname} + ' ' + ${employeeForm.fname}"></td></tr>
                            <tr><th>氏名（カナ）</th><td th:text="${employeeForm.lkana} + ' ' + ${employeeForm.fkana}"></td></tr>
                            <tr><th>パスワード</th><td>********（表示されません）</td></tr>
                            <tr><th>性別</th><td th:text="${employeeForm.gender == 1 ? '男性' : '女性'}"></td></tr>
                            <tr><th>所属部署</th><td th:text="${department.deptname}"></td></tr>
                        </table>
                    </div>
                    
                    <div>
                        <div>
                            <!-- 戻る用のフォーム -->
                            <form th:action="@{/changeInput/{id}(id=${employeeForm.empno})}" th:object="${employeeForm}" method="post">
                                <input type="hidden" th:field="*{empno}">
                                <input type="hidden" th:field="*{lname}">
                                <input type="hidden" th:field="*{fname}">
                                <input type="hidden" th:field="*{lkana}">
                                <input type="hidden" th:field="*{fkana}">
                                <input type="hidden" th:field="*{password}">
                                <input type="hidden" th:field="*{gender}">
                                <input type="hidden" th:field="*{deptno}">
                                <button type="submit">修正する</button>
                            </form>

                            <!-- 保存用のフォーム -->
                            <form th:action="@{/changeEmployee}" th:object="${employeeForm}" method="post">
                                <input type="hidden" th:field="*{empno}">
                                <input type="hidden" th:field="*{lname}">
                                <input type="hidden" th:field="*{fname}">
                                <input type="hidden" th:field="*{lkana}">
                                <input type="hidden" th:field="*{fkana}">
                                <input type="hidden" th:field="*{password}">
                                <input type="hidden" th:field="*{gender}">
                                <input type="hidden" th:field="*{deptno}">
                                <button type="submit">更新を確定する</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
