<!-- change_complete.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>変更完了 - EIMS</title>
</head>
<body>
    <nav>
        <div>
            <a th:href="@{/}">EIMS</a>
        </div>
    </nav>
    <div>
        <div>
            <div>
                <div>
                    <div>
                        <div><i></i></div>
                        <h2>変更完了</h2>
                    </div>
                    <p>社員情報を更新しました。</p>
                    <div>
                        <ul>
                            <li><strong>社員番号:</strong> <span th:text="${employee.empno}"></span></li>
                            <li><strong>氏名:</strong> <span th:text="${employee.lname} + ' ' + ${employee.fname}"></span></li>
                        </ul>
                    </div>
                    <div>
                        <a th:href="@{/detail/{id}(id=${employee.empno})}">詳細画面に戻る</a>
                        <a th:href="@{/employeeList}">社員一覧へ</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
