<!-- delete_complete.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>削除完了 - EIMS</title>
</head>
<body>
    <nav>
        <div>
            <a th:href="@{/}">EIMS</a>
        </div>
    </nav>
    <div>
        <div>
            <div>
                <div>
                    <div>
                        <div><i></i></div>
                        <h2>削除完了</h2>
                    </div>
                    <p>社員情報を削除しました。</p>
                    <div>
                        <a th:href="@{/employeeList}">社員一覧に戻る</a>
                        <a th:href="@{/}">メニューへ</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
