<!-- delete_confirm.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>削除確認 - EIMS</title>
</head>
<body>
    <nav>
        <div>
            <a th:href="@{/}">EIMS</a>
        </div>
    </nav>
    <div>
        <div>
            <div>
                <h2>社員削除の確認</h2>
                <div>以下の社員情報を完全に削除します。よろしいですか？</div>
                
                <div>
                    <div>
                        <div>
                            <span>社員番号: </span>
                            <span th:text="${employee.empno}"></span>
                        </div>
                        <div th:text="${employee.lname} + ' ' + ${employee.fname}"></div>
                        <div th:text="${employee.department.deptname}"></div>
                    </div>
                    
                    <div>
                        <a th:href="@{/detail/{id}(id=${employee.empno})}">キャンセル</a>
                        <form th:action="@{/deleteEmployee}" method="post">
                            <input type="hidden" name="empno" th:value="${employee.empno}">
                            <button type="submit">削除を実行する</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
