<!-- employee_detail.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>社員詳細 - EIMS</title>
</head>
<body>
    <nav>
        <div>
            <a th:href="@{/}">EIMS</a>
        </div>
    </nav>
    <div>
        <div>
            <div>
                <h2>社員詳細</h2>
                <div>
                    <div>
                        <table>
                            <colgroup>
                                <col style="width: 30%; background-color: #f8f9fa;">
                                <col style="width: 70%;">
                            </colgroup>
                            <tr>
                                <th>社員番号</th>
                                <td th:text="${employee.empno}"></td>
                            </tr>
                            <tr>
                                <th>氏名</th>
                                <td th:text="${employee.lname} + ' ' + ${employee.fname}"></td>
                            </tr>
                            <tr>
                                <th>氏名（カナ）</th>
                                <td th:text="${employee.lkana} + ' ' + ${employee.fkana}"></td>
                            </tr>
                            <tr>
                                <th>性別</th>
                                <td th:text="${employee.gender == 1 ? '男性' : '女性'}"></td>
                            </tr>
                            <tr>
                                <th>所属部署</th>
                                <td th:text="${employee.department.deptname}"></td>
                            </tr>
                        </table>
                    </div>
                    <div>
                        <a th:href="@{/employeeList}">一覧に戻る</a>
                        <div>
                            <a th:href="@{/changeInput/{id}(id=${employee.empno})}">情報を変更する</a>
                            <a th:href="@{/deleteConfirm/{id}(id=${employee.empno})}">削除する</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
