<!-- employee_list.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>社員一覧 - EIMS</title>
</head>
<body>
    <nav>
        <div>
            <a th:href="@{/}">EIMS</a>
        </div>
    </nav>
    <div>
        <div>
            <h2>社員一覧</h2>
            <a th:href="@{/input}">新規登録</a>
        </div>

        <div>
            <div>
                <table>
                    <thead>
                        <tr>
                            <th>社員番号</th>
                            <th>氏名 (カナ)</th>
                            <th>性別</th>
                            <th>部署名</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="emp : ${employees}">
                            <td th:text="${emp.empno}"></td>
                            <td>
                                <a th:href="@{/detail/{id}(id=${emp.empno})}" 
                                   th:text="${emp.lname} + ' ' + ${emp.fname} + ' (' + ${emp.lkana} + ' ' + ${emp.fkana} + ')'"></a>
                            </td>
                            <td th:text="${emp.gender == 1 ? '男性' : '女性'}"></td>
                            <td th:text="${emp.department.deptname}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div>
            <a th:href="@{/}">メニューに戻る</a>
        </div>
    </div>
</body>
</html>
